@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Arvo', serif;
}


html{
    font-size: 16px;
}

body{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #4D9078;
    min-height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
    gap: 3rem;


    .buttons
    {
        display: flex;
        gap:4rem;

        
        button
        {
            font-size: 1rem;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: #F2C14E;
            padding: 2rem 4rem 2rem 4rem;
            box-shadow: 5px 0px 0px #f1daa3,
            5px -5px 0px #f1daa3;
            font-size: 3rem;
            color: #222;


            &:nth-child(2)
            {
                background-color: #B4436C;
                box-shadow: 5px 0px 0px #d66890,
                5px -5px 0px #d6618c;
            }

            &:nth-child(2):active
            {
                box-shadow:  5px -5px 10px rgba(0,0,0,0.5) inset;
            }


    }


}

}

.container
{
    width: 50rem;
    min-height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .machine
    {
        width: 50rem;
        height: 20rem;
        background: #F78154;
        box-shadow: 10px -10px 0px #ff7037,
        0px -10px 0px #ff7037,
        10px 0 0px #ff7037,
        10px 10px 0px #ff7037,
        0 10px 0px #ff7037,
        ;
        display: flex;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .slot
        {
            position: relative;
            width: 14rem;
            height: 80%;
            background:#F78154;
            overflow: hidden;
            box-shadow: 10px 2px 20px rgba(0,0,0,0.5) inset,
            -6px 0 0 #ff7037 inset,
            6px 0 0 #ff7037 inset
            ;
            z-index: 0;
            border-radius:10px;

            img{
                position: absolute;
                width: 96%;
                height: 100%;
                top: 0;
                left:0;
                margin: auto;
                right: 0;
                bottom: 0;
                object-fit: cover;
                z-index: 2;
                filter: opacity(0.8) saturate(0.9);
            }

            .blur
            {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: hsla(0, 0%, 2%, 0.089);
                z-index: 5;
                opacity: 0;
                backdrop-filter: blur(20px);
            }

            .shadow
            {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                background: linear-gradient(to bottom,transparent 20% ,rgba(0, 0, 0,0.6) 50% );
                width: 100%;
                height: 100%;

            }
        }


    }
}

.hola
{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D9078;
    z-index: 10;
    display: flex;
    justify-content: space-between;


    form
    {
        width: 50rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        

        span
        {
            font-size: 2rem;
            font-weight: 700;
            color:#F2C14E;
            font-family: 'Arvo', serif;
            font-family: 'Satisfy', cursive;
            margin-left: -7rem;
        }

        input
        {
            border: none;
            outline: none;
            padding: 1rem;
            background-color: #5FAD56;
            width: 20rem;
            border-radius: 20px;
            font-size: 2rem;
            font-weight: 500;
            text-align: center;
            color: #222;
            

        }

        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
         margin: 0; 
        }

        button
        {
            padding: 1rem;

            border: none;
            outline: none;
            background-color: #F78154;
            font-size: 2rem;
            font-weight: 700;
            color: #222;
            border-radius: 20px;
            margin-top: 2rem;
            transition: 0.12s;

            &:hover
            {
                background-color: #F2C14E;
                color: white;
            }
        }

    }

    .lottie-img
    {
        position: relative;
        width: 50rem;
        height: 100%;
        overflow: hidden;


        img
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .message
    {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 40rem;
        background-color: #B4436C;
        color: white;
        padding: 1.5rem;
        z-index: 11;

        h2
        {
            text-align: right;
            font-size: 4rem;
        }

        p{
            text-align: right;
            font-size: 1.5rem;
        }
    }
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0 1rem 0;

    .profile
    {
        display: flex;
        gap: 1rem;
        align-items: center;

        .imgbx
        {
            position: relative;
            width: 4rem;
            height: 4rem;
            overflow: hidden;
            border-radius: 50%;

            img
            {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: left;
            }
        }

        h3
        {
            font-size: 2rem;
            font-family: 'Arvo', serif;
            font-family: 'Satisfy', cursive;
            color: #B4436C;
        }
    }

    .points
    {
        display: flex;
        align-items: center;
        gap: 2rem;

        .imglottie
        {
            width: 3rem;
        }

        h3
        {
            font-size: 2rem;
            color: #222;
        }

        .open-menu
        {
            right: 1rem;
            top: 2.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
            background-color: #222;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: none;
            outline: none;

            div
            {
                width: 2rem;
                height: 0.3rem;
                background-color: #4D9078;
                border-radius: 10px;
                transition: 0.4s;
            }

            &:hover > div
            {
                    background-color:#B4436C ;
            }


        }

    }
}

.menu
{
position: absolute;
right: 0;
top: 0;
width: 50%;
height: 100vh;
background-color: #222;
backdrop-filter: blur(20px);
z-index:9;
box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
color: white;
transform: translateX(100%);


h2
{
    font-size: 4rem;
    color: #222;
    padding: 2rem;
    color: #4D9078;
    display: flex;
    justify-content: space-between;

    span
    {
        color: white;
        transition: 0.12s;
        cursor: pointer;

        &:hover
        {
            color: #B4436C;
        }
    }
}


.update-apuesta
{
    width: 100%;

    h3
    {
        font-size: 2rem;
        padding: 2rem;
        
    }

    .apuestas-container
    {
        display: flex;
        align-items: center;
        padding-left:1rem;
        gap: 2rem;

        .apuesta
        {
            font-size: 2rem;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.7) inset;
            background-color: #ffffff;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem;
            font-weight: bolder;
            transition: 0.2s;
            color: #222;
            cursor: pointer;
            
        }

        .select
        {
            background-color: #B4436C;
        }

        
    }

    p{
        padding: 2rem;
        font-size: 1.2rem;
    }
}


.retiro
{
    h3
    {
        font-size: 2rem;
        padding: 2rem;
    }
    
    button
    {
        border: none;
        outline: none;
        margin-left: 2rem;
        padding: 1rem;
        font-size: 2rem;
        font-weight: bolder;
        border-radius: 5px;
        transition: 0.2s;

        &:hover
        {
            background-color: #F2C14E;
        }

    }
}
.button-help
{
    margin: 2rem 0 0 2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    button
    {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: none;
        font-size: 2rem;

        a{
            i{
                color: #222;
            }
        }
    }
}

}

.notification
{
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    background-color: #5FAD56;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0 40px 0 0;
    opacity: 0;
    z-index: 10;
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.2);
    pointer-events: none;

    .img
    {
        width: 6rem;
        height: 6rem;
    }

    p{
        font-size: 2rem;
        font-weight: bold;
        color: #222;
    }
}

//media querys
@media (max-width:1200px) {
    html
    {
        font-size: 16px;
    }

    .menu
    {
        width: 60%;
    }
}

@media (max-width:850px) {
    html
    {
        font-size: 14px;
    }
}

@media (max-width:750px) {
    html
    {
        font-size: 12px;
    }
    .lottie-img
    {
        display: none;
    }
    .message
    {
        display: none;
    }
    .hola
    {
        justify-content: center;

        form
        {
            width: 100%;

            input
            {
                width: 70%;
            }

            span
            {
                margin: 0;
                font-size: 3rem;

            }

            button
            {
                padding: 2rem;
            }
        }
    }
}

@media (max-width:670px) {
    html
    {
        font-size: 12px;
    }
}

@media (max-width:634px) {
    html
    {
        font-size: 11px;
    }
}


@media (max-width:550px) {
    html
    {
        font-size: 9px;
    }

    header
    {
        .profile
        {
            h3
            {
                font-size: 4rem;
            }
        }

        .points
        {
            h3
            {
                font-size: 4rem;
            }
        }
    }

    .menu
    {
        width: 80%;
    }
}


@media (max-width:450px) {
    html
    {
        font-size: 6px;
    }

    body
    {
        gap: 5rem;
    }


    header
    {
        .profile
        {
            h3
            {
                font-size: 4rem;
            }

            .imgbx
            {
                width: 10rem;
                height: 10rem;
            }
        }

        .points
        {
            h3
            {
                font-size: 4rem;
            }
        }
    }

    .menu
    {
        width: 100%;
    }

}








@media (max-width:300px) {

    html
    {
        font-size: 5px;
    }

    .hola
    {
        form
        {
            input
            {
                width: 90%;
                font-size: 3rem;
                padding: 1.5rem;
            }

            span
            {
                font-size: 5rem;
            }

            button
            {
                padding: 4rem;
                font-size: 4rem;
            }
        }
    }

}
